.modal-header{
    background-color: #3d3d3d;
    color: white;
}
.addCategory-Cont{
    display: flex;
}
.Api-btn .actions{
    margin-top: 14px;
    font-size: 20px;
}
.Api-btn button{
    margin:10px 10px;
    border: none;
    border-radius: 10px;
}